.user {
   display: flex;
   gap: 20px;
}
.user .avatar {
   max-width: 100px;
}
.user .description {

}

.userName {
   font-weight: 700;
   font-size: 1.5rem;
}
.userDescr {
   font-style: italic;
   opacity: .8;
   cursor: pointer;
}
.openWork {
   font-style: italic;
   font-size: .8rem;
   font-weight: 700;
}