.header {
   flex: 1 1 100%;
   align-self: flex-start;
   min-height: 100px;
   background-color: var(--color-blue-light);
   margin-top: 15px;
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
}
.logo {
   flex: 0 1 30%;
   font-size: 1.5rem;
   font-weight: 700;
   display: flex;
   align-items: center;
}
.logo_icon {
   min-width: 60px;
   width: 60px;
   height: 60px;
   position: relative;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 15px;
}
.logo_icon img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: auto;
   height: 100%;
}

.logo_text {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.logo_text p {
   margin-bottom: 0;
}
.logo_text span {
   font-weight: 300;
   font-size: .85rem;
   font-style: italic;
}

.loginWrap {

}
.login_link {
   background: none;
   color: #fff;
   text-decoration: none;
   border: 1px solid #fff;
   padding: 15px 10px;
   border-radius: 10px;
   font-weight: 700;
}
.login_link:hover {
   background-color: #fff;
   color: var(--color-blue-light);
}

.wrapLogOut {
   display: inline-flex;
   gap: 20px;
   align-items: center;
}