.login_wrap {
   padding: 15px;
}

.title {
   text-align: center;
}

.form {
   display: flex;
   flex-direction: column;
   max-width: 450px;
   margin-left: auto;
   margin-right: auto;
}

.wrapCheckbox {
   display: inline-flex;
   align-items: center;
   column-gap: 20px;
   padding-left: 10px;
   margin-top: 20px;
}
.wrapCheckbox > label {
   cursor: pointer;
}

.loginButton {
   margin-top: 30px;
}