:root {
   --color-blue-light: #56b6f8;
   --color-blue-deep: #4ca1dc;
   --color-gray-light: #f0f0f0;
   --gradient: linear-gradient(#56b6f8, #4ca1dc);
   --gradient-active: linear-gradient(#4ca1dc, #56b6f8);
   --gradient-unfollowed: linear-gradient(#F24E4E, #B34141);
   --gradient-unfollowed-active: linear-gradient(#B34141, #F24E4E);
   --color-text: #333;
   --color-text-light: #fff;

   --div-light: 1px solid rgba(255, 255, 255, .2);
   --div-blue-light: 1px solid var(--color-blue-light);

   --radius: 5px;

   --transition: 0.25s ease-out;
}

body {
   color: var(--color-text-light);
   overflow-y: scroll;
}

.app-wrapper {
   display: flex;
   flex-wrap: wrap;
   max-width: 1200px;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.main {
   position: relative;
   width: calc(80% - 15px);
   background-color: var(--color-gray-light);
   color: var(--color-text);
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

img {
   width: 100%;
   height: auto;
}

* {
   box-sizing: border-box;
}

button {
   cursor: pointer;
}

p {
   margin-top: 5px;
   margin-bottom: 5px;
}

textarea:focus {
   outline-color: var(--color-blue-light);
}

.main_btn {
   font-weight: 700;
   background: var(--gradient);
   border: none;
   color: var(--color-text-light);
   padding: 15px;
   border-radius: var(--radius);
}
.main_btn:hover {
   background: var(--gradient-active);
}

.main_btn.unfollowed {
   background: var(--gradient-unfollowed);
}
.main_btn.unfollowed:hover {
   background: var(--gradient-unfollowed-active);
}

.sidebar-group-title {
   margin-top: 5px;
   margin-bottom: 5px;
   text-align: center;  
}

/* checkbox */
.checkbox {
   --size: 1px;
   width: var(--size);
   height: var(--size);
   position: relative;
   outline: none;
   border: none;
   background: none;
}
.checkbox::before {
   content: '';
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: center;
   align-items: center;
   width: calc(var(--size) * 20);
   height: calc(var(--size) * 20);
   background-color: #fff;
   color: var(--color-blue-light);
   border-radius: var(--radius);
   cursor: pointer;
}
.checkbox:checked::before {
   content: '\2713';
   border: 1px solid var(--color-blue-light);
}
.checkbox:focus::before {
   border: 2px solid var(--color-blue-light);
}


