.dialogs_wrap {
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.dialogs {
   position: relative;
   flex: 0 0 20%;
}
.dialogs::before {
   content: '';
   position: absolute;
   right: 0;
   top: 50%;
   transform: translateY(-50%);
   height: 80%;
   border-right: 1px solid var(--color-blue-light);
   opacity: 0.3;
}

.dialogs,
.messages {
   padding: 15px 15px 5px 15px;
}

.new_message_wrap {
   padding: 15px;
   flex: 1 1 100%;
}

.messages {
   flex: 0 0 80%;
   max-height: 350px;
   overflow-y: auto;
}